@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #D2691E;
  --color-secondary: #8B4513;
  --color-accent: #FFA500;
  --color-background: #FFFFFF;
  --color-text: #2D3748;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}
